body
{
	background: black;
}
h1
{
	border: 2px brown solid;
	color: white;
}
p
{
	border-left: 2px white solid;
	font-family: impact ;
	color: white;
}
h2
{
	margin: 2px 0px 3px 4px; /*sens des aiguilles du montre haut bas ...*/
	border: 4px red solid;
}